
@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../Resource/jquery-3.3.1.min.
            "></script>
    <script src="../../Resource/jquery.cookie.js"></script>
    <script src="../../Resource/bootstrap.min.js"></script>
    <script src="../../Resource/publicJs.js"></script>
    <script src="../../Resource/AboutUsPage/js/AboutUsPageJs.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../Resource/AboutUsPage/publicStyle.css">
    <link rel="stylesheet" type="text/css" href="../../Resource/AboutUsPage/css/AboutUsPageStyle.css">
    <title>AboutUs</title>
</head>
<body>

    <!--成员介绍-->
    <div class="container-fluid" id="memIntr" style="margin-top: 88px">
        <div class="row">
            <div class="col-md-5 col-md-offset-1" style="background-color: white; padding: 30px; height: 450px">
                <h2 class="memName" id="memName1" style="text-align: center;">统筹监督-罗吉皓</h2>
                <p class="memText" id="memText1" style="font-family: 微软雅黑; font-size: 24px;">
                    <br>
                    表的设计<br>
                    系统架构指导<br>
                    前后端统筹协调<br>
                    框架的指导与协调<br>
                    工作进度的协调安排<br>
                    文档架构的指导<br>
                    个成员间工作的协调<br>
                    答辩主讲<br>
                </p>
            </div>
            <div class="col-md-5" style="padding: 0px; height: 450px">
                <div class="wrap" id="wrap1">
                    <img src="../../Resource/publicImg/PhotoShow_12.jpg" class="memPic" style="width: 100%; height: 450px">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 88px">
            <div class="col-md-5 col-md-offset-1" style="height: 450px; padding: 0px">
                <div class="wrap" id="wrap2">
                    <img src="../../Resource/publicImg/PhotoShow_12.jpg" class="memPic" style="width: 100%; height: 450px">
                </div>
            </div>
            <div class="col-md-5" style="padding: 30px; height: 450px">
                <h2 class="memName" id="memName2" style="text-align: center">后端组长-黄耀贤</h2>
                <p class="memText" id="memText2" style="font-family: 微软雅黑; font-size: 24px;">
                    <br>
                    asp.net架构总协调<br>
                    表的设计<br>
                    主要cshtml逻辑的编写<br>
                    前后端协调<br>
                    bug的调试<br>
                </p>
            </div>
        </div>
        <div class="row" style="margin-top: 88px">
            <div class="col-md-5 col-md-offset-1" style="background-color: white; padding: 30px; height: 450px">
                <h2 class="memName" id="memName3" style="text-align: center">组长-王陆洋</h2>
                <p class="memText" id="memText3" style="font-family: 微软雅黑; font-size: 24px;">
                    <br>
                    <br>
                    服务器的搭建与维护<br>
                    上传文件逻辑的实现<br>
                </p>
            </div>
            <div class="col-md-5" style="padding: 0px; height: 450px">
                <div class="wrap" id="wrap3">
                    <img src="../../Resource/publicImg/PhotoShow_12.jpg" class="memPic" style="width: 100%; height: 450px">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <h1 style="text-align: center">前端组</h1>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-md-3">
                <div class="wrap" id="wrap4"><img src="../../Resource/publicImg/PhotoShow_12.jpg"></div>
            </div>
            <div class="col-md-3">
                <div class="wrap" id="wrap5"><img src="../../Resource/publicImg/PhotoShow_12.jpg"></div>
            </div>
            <div class="col-md-3">
                <div class="wrap" id="wrap6"><img src="../../Resource/publicImg/PhotoShow_12.jpg"></div>
            </div>
            <div class="col-md-3">
                <div class="wrap" id="wrap7"><img src="../../Resource/publicImg/PhotoShow_12.jpg"></div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px">
            <h1 style="text-align: center">
                后端组
            </h1>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-md-4">
                <div class="wrap" id="wrap8"><img src="../../Resource/publicImg/PhotoShow_12.jpg"></div>
            </div>
            <div class="col-md-4">
                <div class="wrap" id="wrap9"><img src="../../Resource/publicImg/PhotoShow_12.jpg"></div>
            </div>
            <div class="col-md-4">
                <div class="wrap" id="wrap10"><img src="../../Resource/publicImg/PhotoShow_12.jpg"></div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <div class="footer">
        <div class="newContainer">
            <div class="footer-text">
                <p>Contact US 1585084146@qq.com</p>
            </div>
        </div>
    </div>

</body>
</html>