
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
    <link rel="stylesheet" type="text/css" href="../../Resource/loginPage/css/loginPageStyle.css">
</head>
<body>
    <div>
    </div>
    <br />
    Your demand:
    <br />
    @ViewData["demand"]
    <h2>
        Your order has been created, and thanks for choosing us!
    </h2>
    <a href="../Home/Index" class="col-md-4 col-md-offset-2 btn-lg btn-info" type="button" style="margin-top: 45px;" role="button" id="hrefBtn">返回首页</a>

</body>
</html>

